{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Summit College - Chatbot</title>
    <link rel="stylesheet" href="{% static '/botsummit/style.css'%}">
    <link rel="shortcut icon" href="{% static '/botsummit/logo.png'%}" type="image/x-icon">
</head>
<body>
    <div class="header">
        <a href="#default" class="logo"><img src="{% static '/botsummit/logo.png'%}" alt="New Summit College" class="logo-img"></a>
        <h2>NEW SUMMIT COLLEGE</h2>
        <div class="header-right">
          <a class="active" href="#home">HOME</a>
          <a href="#contact">ABOUT US</a>
          <a href="#academics">ACADEMICS</a>
          <a href="#features">FEATURES & FACILITIES</a>
          <a href="#gallery">GALLERY</a>
          <a href="#contact">CONTACT</a>
          <a href="#search"></a>
        </div>
      </div>

{#    <button onclick="clicked()" class="click-me" >click me</button>#}
{#    <form action="{% url 'botsummit:chatbot' %}" method="POST">#}
        {% csrf_token %}

        <div class="chatbox" id="chatbox">
            <div class="chatbox-head">
                Chat Box
                <button class="chatbox-size" id="close">⨉</button>
            </div>
{#            {% if reply_messages %}#}
{#            <p id="message-reply" class="bg-primary" style="width: 30%;background-color: blue;margin: 7px;height: 55px;color: white;margin-left: 285px;padding-left: 14px;">#}
{#                {{reply_messages}}</p>#}
{#            {% endif %}#}
{#            {% if get_message %}#}
{#                <p id="message_input" class="bg-primary" style="width: 30%;background-color: blue;margin: 7px 5px;height: 55px;color: white;padding-left: 14px;">#}
{#                    {{get_message}}</p>#}
{#            {% endif %}#}
            <div class="append-div" style="height:80%;overflow:auto">
{#                 <div style="display:flex; flex-direction: column;" class="chat-outer_div">#}
{#                <div style="display: flex; justify-content: flex-end" class="chat-inner_div--first">#}
{#                    <p class="text">hello</p>#}
{#                </div>#}
{#                 <div class="chat-inner_div--second">#}
{#                    <p style="display: flex;" class="text">hello from bot</p>#}
{#                </div>#}
{#            </div>#}

            </div>

            <div class="chatbox-foot">
                <input style="height:35px;width:18%; font-size: 18px; padding:0 10px;" type="text" class="msg" name="msg" id="msg" placeholder="Send a message..." autocomplete="off">
                <button id="btn" style="height:35px; padding: 0 15px;" class="sendData" type="submit">Send</button>
            </div>
        </div>
{#    </form>#}
    <button class="btn-chatbot" id="open"></button>
    <script src="{% static '/botsummit/jquery.js'%}"></script>
    <script>
        const x = document.getElementById('chatbox');
        const y = document.getElementById('open');
        const z = document.getElementById('close');

        z.onclick = function () {
            if(x.style.display === "block"){
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }

        y.onclick = function () {
            x.style.display = "block";
        }

        const a = document.querySelector('#msg');
        a.addEventListener("keyup",function (event) {
            const w = document.querySelector("#btn");

            if(event.keyCode === 13){
                event.preventDefault();
                w.click();
            }
        })
        // displaying input message
        function showMessage(){
            var message = document.getElementById("msg").value;
            message_input.innerHTML= message;

        }

    </script>

    <script>
        {#const button = document.querySelector('.click-me');#}
        const input = document.querySelector('.msg');
        $(".sendData").click(function(){
            console.log('sdf');
            let value = input.value;
            {#var userInput = $("#message_input").val();#}

            $.ajax({
                headers: {
                        "X-CSRFTOKEN": "{{ csrf_token }}"
                },
                url : '{% url 'botsummit:chatbot' %}',
                method : 'POST',
                data : {
                  msg : value
                },
                success : function(response){
                    if (response != 404 || response != '404'){
                          {#const html = '<div style="display:flex; flex-direction: column;" class="chat-outer_div"><div style="display: flex; justify-content: flex-end" class="chat-inner_div--first"> <p class="text">'+ value +'</p></div> <div class="chat-inner_div--second"> <p style="display: flex;" class="text">'+response+'</p></div></div>';#}
            const appendDiv = document.querySelector('.append-div');

            appendDiv.insertAdjacentHTML('beforeend', response);
                                    input.value='';


                    }



                }
            });
        });
    </script>
</body>
</html>